@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display:flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

.checkboxes {
  margin-top: 140px;
}

.checkboxes label {
  display: block;
  margin-bottom: 10px;
}

.name {
  color: #2b3452;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-info, .billing-info {
  display: flex;
  flex-direction: column;
}

.card-info label, .billing-info label {
  margin-bottom: 10px;
}

.card-info {
  width: 50%;
}

.billing-info {
  width: 45%;
}

/* Ensure input text color is visible */
input {
  color: #000; /* Black color for the text */
  background-color: #fff; /* White background for input fields */
}
.name-fields {
	display:flex;
	align-items:center;

}
.name-fields label{
	margin-right:20px; /* Adjust as per your design */
	flex-grow:1;


}
